@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  text-align: center; /* Centering non-flexbox content */
  background-color: rgba(19,24,98, 0.8);
}

.navbar {
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px 20px;
  width: 100%; /* Full width */
  position: fixed;
}

.nav-z {
  z-index: 4;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%; /* Allow nav content to take full width */
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%; /* Ensure gallery takes full width */
  padding-top: 100px;
}


.item {
  border: 1px solid #ccc;
  width: 500px; /* Increased width */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px; /* Space between items */
  z-index: 3;
}

.item img {
  width: 100%; /* Image takes full width */
  height: 300px; /* Increased height for images */
  object-fit: cover; /* Ensures the image covers the area */
}




.profile-item {
  width: 40%;
  min-width: 500px;
  margin: 15px;
  position: relative;
}

.profile-item img {
  object-fit: cover;
}


.caption {
  padding: 15px; /* Increased padding */
  text-align: center;
  color: black;
}

.caption h3 {
  font-weight: bold;
}

.explanation {
  text-align: justify;
  font-size: 0.9em; /* Slightly larger font */
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Allows for more lines of text */
  -webkit-box-orient: vertical;
  margin-top: 10px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 60%; 
  max-height: 70%; 
  overflow-y: auto;
  position: relative;
}

.popup-content img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.popup-caption {
  margin-top: 10px;
}


.navbar {
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px 20px;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-logo {
  font-size: 1.4em;
  font-weight: bold;
  color: #333;
}

.login-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.show-more-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  margin: 20px auto;
  border-radius: 4px;
  cursor: pointer;
  z-index: 3;
}

.page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 
}

.fill-page {
  height: 100vh;
}

.login-form {
  width: 90%;
  z-index: 3;
}

.signup {
  z-index: 3;
}

.nav-link {
  background-color: #f0f0f0;
  color: black;
  border: none;
  padding: 10px 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  padding-top: 80px;
  width: 100%; 
  height: 30vh;
  border-bottom: 1px solid grey;
}

.profile-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.profile-page {
  justify-content: start;
}

.empty-gallery {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 48px;
  font-weight: bold;
}

.trash-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 35px;
  width: 35px;
}

@media screen and (max-width: 700px) {
  .item {
    width: 100%;
  }

  .profile-item {
    min-width: 0;
  }

  .profile-gallery {
    padding: 0;
  }

  .profile-item img {
    height: auto;
  }

  .mobile-nav {
    margin: 5px 0;
  }
}

